<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

<div class="about content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto nihil dolore quod, blanditiis dolorum inventore tempora qui ex laborum sint nulla, sunt molestias officia quos doloremque nesciunt porro dolor! Ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quo perferendis laboriosam aut iusto minus quidem sunt error, harum beatae nisi rem officia numquam blanditiis minima, cum, dolorem ullam obcaecati?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempore minus ipsam quisquam, nemo totam nulla accusantium eaque blanditiis architecto ipsa ducimus expedita sunt? Doloribus iste molestias veritatis quo unde.</p>
</div>

<%- include('./partials/footer.ejs') %>

</body>
</html>